<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link da fonte Baumans  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,900;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- link da fonte Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- link do css  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/CriacaoDeProdutos.css') }}"
    />

    <!-- link da responsividade  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ResponsividadeMobilePaginasIguais.css') }}"
    />

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='imagens/Favicon.png') }}"
    />
    <title>Painel do Admin</title>
  </head>
  <body>
    <section class="Conteiner scroll-animation">
      <div class="Logo">
        <img src="../static/imagens/criacaoDeProdutos/Nexora.png" alt="" />
      </div>

      <div class="Forms">
        <form id="formProduto" enctype="multipart/form-data">
          <input
            type="file"
            id="imagem"
            name="imagem"
            accept="image/*"
            required
          /><br /><br />
          <input
            type="text"
            id="nome"
            name="nome"
            placeholder="Nome do produto"
            required
          /><br /><br />
          <input
            type="text"
            id="descricao"
            name="descricao"
            placeholder="Descrição"
            required
          /><br /><br />
          <button type="submit">Adicionar</button>
          <button onclick="window.location.href='/admin'">Voltar</button>
        </form>
      </div>
    </section>

    <footer>© 2025 Gustavo Domingues. Todos os direitos reservados.</footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const animatedElements = document.querySelectorAll(".scroll-animation");

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("active");
              }
            });
          },
          {
            threshold: 0.2, // Ativa quando 20% do elemento estiver visível
          }
        );

        animatedElements.forEach((el) => observer.observe(el));
      });
    </script>

    <script>
      const form = document.getElementById("formProduto");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(form);

        const resposta = await fetch("/produtos", {
          method: "POST",
          body: formData,
        });

        const dados = await resposta.json();
        alert(dados.mensagem);
        form.reset();
      });
    </script>
  </body>
</html>
