<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Editar Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- link da fonte Baumans  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,900;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- link da fonte Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- link do css  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/editar_produto.css') }}"
    />

    <!-- link da responsividade  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/ResponsividadeMobile.css') }}"
    />

    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='imagens/Favicon.png') }}"
    />
  </head>
  <body>
    <section class="NomePrincipal scroll-animation">
      <h1>Editar Produtos</h1>
    </section>

    <section class="FormsdeEdicao scroll-animation">
      <table>
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <td>
              <img
                src="{{ url_for('static', filename='uploads/' + produto['imagem']) }}"
                alt="Imagem do produto"
              />
            </td>

            <form action="/editar_produto/{{ loop.index0 }}" method="POST">
              <td>
                <input type="text" name="nome" value="{{ produto['nome'] }}" />
              </td>
              <td>
                <input
                  type="text"
                  name="descricao"
                  value="{{ produto['descricao'] }}"
                />
              </td>
              <td>
                <button class="edit-btn" type="submit">Editar</button>
              </td>
            </form>

            <td>
              <form action="/excluir_produto/{{ loop.index0 }}" method="POST">
                <button class="delete-btn" type="submit">Excluir</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br /><br />
    </section>

    <section class="buttons scroll-animation">
      <button onclick="window.location.href='/admin'">Painel do Admin</button>
      <button onclick="window.location.href='/login'">Login</button>
    </section>

    <footer>© 2025 Gustavo Domingues. Todos os direitos reservados.</footer>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const animatedElements = document.querySelectorAll(".scroll-animation");

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("active");
              }
            });
          },
          {
            threshold: 0.2, // Ativa quando 20% do elemento estiver visível
          }
        );

        animatedElements.forEach((el) => observer.observe(el));
      });
    </script>
  </body>
</html>
