<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <!-- link da fonte Baumans  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,900;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- link da fonte Montserrat -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- link do css  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />

    <title>Login</title>
  </head>
  <body>
    <section class="Principal">
      <div class="forms">
        <div class="tituloForms">
          <h1>Nexora</h1>
        </div>

        <div class="container">
          <div class="tabs">
            <span class="active">Login</span>
            <span>Cadastro</span>
          </div>

          <form method="POST">
            <input
              type="email"
              name="email"
              placeholder="Email"
              required
            /><br /><br />
            <input
              type="password"
              name="senha"
              placeholder="Senha"
              required
            /><br /><br />
            <button type="submit">Entrar</button>
          </form>

          {% if erro %}
          <div class="erro">{{ erro }}</div>
          {% endif %}
        </div>
      </div>

      <div class="Logo">
        <img
          src="{{ url_for('static', filename='imagens/login/Logo.png') }}"
          alt="Descrição da imagem"
        />
      </div>
    </section>

    <footer>© 2025 Gustavo Domingues. Todos os direitos reservados.</footer>
  </body>
</html>
